//-
    COMP 2406A (Winter 2017): Assignment #4 - Altin Rexhepaj (101000622)
    Sources: Professor's course notes (Dr. Andrew Runka)

block head
    title Recipes Database
    link(rel="stylesheet", href="./public/style.css")

h1 Recipes Database
h2 Register

if message
    p#message=message

form(action="/register", method="POST")
    label(for='username') Username:
    br
    input#username(name='username')
    br
    br
    label(for='password') Password:
    br
    input#password(input type="password" name='password')
    br
    br
    input(type='submit', value="Create Account")#register
    p
        | Already have an account?  
        a(href="/login") Click here 
        | to log in
p
    a(href="/") Return home