/*
	COMP 2406A (Winter 2017): Assignment #1 - Altin Rexhepaj (101000622)
	Sources: Professor's course notes (Dr. Andrew Runka)
*/

@charset "utf-8";
html{
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background: #333333;
	font-family: 'century gothic';
}

.header {
	text-align: left;
	color: white;
	padding: 5px 20px 5px 20px;
	background-color: #444;
	border: solid 1px #355;
	border-radius: 10px;
	margin-top:8px;
	margin-bottom:8px;
}
#heroDiv{
	border-style: solid;
	border-color: white;
	border-radius: 10px;
	padding: 5px;
}

/* ---- R2.4) */
#viewButton{
	background-color: lightgoldenrodyellow;
	font-weight: bold;
	font-family: 'century gothic';
	width: 100px;
	height: 40px;
	border-radius: 10px;
}

#heroes{
	height: 40px;
}

input{
	font-family: 'century gothic';
	border-radius: 5px;
}

textarea{
	font-family: 'century gothic';
	border-radius: 5px;
}

select{
	font-family: 'century gothic';
	border-radius: 5px;
}

input:focus,
select:focus,
textarea:focus{
    outline: none;
}

p {
	font-size:18px;
	color: white:
}
small{
	font-size: 10px;
	color: white;
}

hr {
	color: white;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1{
	text-align: left;
}

.block{
	position: relative;;
	padding: 20px 20px 20px 20px;
	color: white;
	background-color: #444;
	border: solid 1px #355;
	border-radius: 10px;
}
